.image-container {
    width:500px;
    height:250px;
    margin: 0 auto;
    border:1px solid black;
}

.scale {
    width:168px;
    height: 252px;
}

.wrap {
    width:500px;
    height: auto;
    font-size:14px;
    display: inline;
}

.action {
    padding:12px;
}

.label {
    width:460px;
    display: inline-block;
}