.image-container {
    width:500px;
    height:250px;
    margin: 0 auto;
    border:1px solid black;
}

.scale {
    width:168px;
    height: 252px;
}

.wrap {
    height: auto;
    display: inline;
}

.action {
    padding:12px;
    display: inline;
}

.label {
    width:460px;
    display: inline-block;
}
.container {
  background:#ddd;
  margin:20px;
  width: 400px;
  height:400px;
  overflow:hidden;
 }
.landscape {
    width: 480px;
    height:270px;
}
.portrait {
    width: 270px;
    height:480px;
}
.square {
    width: 300px;
    height: 300px;
}
 .container.small{
   overflow: hidden;
   width: 150px;
   height: 200px;
   position: relative;
   float:left;
 }
 
.container.example {
  width:300px;
  height:160px;
  overflow:hidden;
 }
 
 .block{
  overflow: hidden;
  display: block;
  float:left
}

.group-image{
  display: block;
  overflow:hidden;
  position: relative;
  clear:both;
}

.control-panel {
    background-position: 0px 0px;
    background-repeat: repeat;
    background-image: url('bg.png');
    -webkit-box-shadow: rgba(0,0,0,0.25) 0px 2px 5px;
    -moz-box-shadow: rgba(0,0,0,0.25) 0px 2px 5px;
    box-shadow: rgba(0,0,0,0.25) 0px 2px 5px;
    border: 1px solid #505050;
}
.image-shadowed{
    border-style: dashed;
    border-color: black;
    opacity: 0.3;
}
.scaled-image {
    border-style: solid;
    border-color: black;
    background-color: rgba(130,130,130,0.6);
}
*{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.4;
}